{% extends "base.html" %}
{% block content %}
<div class="home-background">
<div class="container">
    <h2>Latest Blogs</h2>
    <div class="blog-list">
        {% for blog in blogs %}
        <div class="blog-item">
            <h3><a href="/blog/{{ loop.index0 }}">{{ blog.title }}</a></h3>
            <p class="meta">By {{ blog.author }} on {{ blog.date }}</p>
            <p>{{ blog.content[:200] }}...</p>
            <!-- Summarize Button -->
            <button class="summarize-btn" data-blog-id="{{ loop.index0 }}">Summarize</button>
            <div class="summary" id="summary-{{ loop.index0 }}"></div>
        </div>
        {% endfor %} 
    </div>
</div>

<!-- Include jQuery for simplicity -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function(){
        $('.summarize-btn').click(function(){
            var blogId = $(this).data('blog-id');
            var summaryDiv = $('#summary-' + blogId);

            // Send an AJAX POST request to the '/summarize' route
            $.ajax({
                url: '/summarize',
                type: 'POST',
                data: { 'blog_id': blogId },
                success: function(response) {
                    if (response.summary) {
                        summaryDiv.html('<h4>Summary:</h4><p>' + response.summary + '</p>');
                    } else if (response.error) {
                        summaryDiv.html('<p style="color:red;">Error: ' + response.error + '</p>');
                    }
                },
                error: function() {
                    summaryDiv.html('<p style="color:red;">An error occurred while summarizing.</p>');
                }
            });
        });
    });
</script>
</div>
{% endblock %}